//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Families

$Ff-primary: 'Big Shoulders Display', sans-serif;
$Ff-secondary: 'Lexend Deca', sans-serif;

//

$Clr-accent-1: #e28525;
$Clr-accent-2: #016972;
$Clr-accent-3: #00403f;
$Clr-200: #f2f2f2;
$Clr-100: #ffffff;
